<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://JAVA.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
 <display-name>jspServletLoginTest</display-name>
 <servlet>
  <description></description>
 <!-- Display name here does not matter -->
 <!-- What matters is the servlet class and the url pattern -->
 <!-- Servelet name must match servlet name defined in mapping -->
  <display-name>Employee Login Servlet</display-name>
  <servlet-name>employeeLoginServlet</servlet-name>
  <servlet-class>dentalclinic.servlet.EmployeeLoginServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>employeeLoginServlet</servlet-name>
  <url-pattern>/employeeLogin</url-pattern>
 </servlet-mapping>
 
 <servlet>
 <description></description>
 <display-name>Patient Register Servlet</display-name>
 <servlet-name>patientRegisterServlet</servlet-name>
 <servlet-class>dentalclinic.servlet.PatientRegisterServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>patientRegisterServlet</servlet-name>
  <url-pattern>/patientRegister</url-pattern>
 </servlet-mapping>
 
 <servlet>
 <description></description>
 <display-name>Patient Login Servlet</display-name>
 <servlet-name>patientLoginServlet</servlet-name>
 <servlet-class>dentalclinic.servlet.PatientLoginServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>patientLoginServlet</servlet-name>
  <url-pattern>/patientLogin</url-pattern>
 </servlet-mapping>
 
 <servlet>
 <description></description>
 <display-name>Room Booking Servlet</display-name>
 <servlet-name>roomBookingServlet</servlet-name>
 <servlet-class>dentalclinic.servlet.RoomBookingServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>roomBookingServlet</servlet-name>
  <url-pattern>/roomBooking</url-pattern>
 </servlet-mapping>
 


 <welcome-file-list>
  <welcome-file>index.html</welcome-file>
 </welcome-file-list>
</web-app>
